# Feature Engineering

On this section we engineer features to signal possible <b/>useful data relationships.</b>

In [2]:
#get useful libraries
from __future__ import division
from helpers  import helpers

import pandas as pd
import numpy as np
from numpy import mean, median

import warnings
warnings.filterwarnings('ignore')

# Get Data

In [7]:
data = pd.read_csv('derived_data/balanced.csv')

print(data.shape)

(452670, 9)

In [8]:
data.sample(10)

,national_inv,lead_time,in_transit_qty,forecast_3_month,sales_3_month,perf_6_month_avg,deck_risk_Yes,neg_inv_balance,went_on_backorder_Yes
157988,0.000000,2.000000,0.0,18.000000,0.000000,0.920000,1.000000,0.000000,0
443635,11.211745,8.000000,0.0,32.000000,28.474497,0.730943,0.000000,0.000000,1
255709,230.000000,4.000000,4.0,82.000000,114.000000,0.930000,0.000000,0.000000,0
163096,17.000000,8.000000,0.0,32.000000,19.000000,0.950000,0.000000,0.000000,0
149792,2.000000,8.000000,0.0,0.000000,1.000000,0.700000,0.000000,0.000000,0
345387,0.000000,2.000000,0.0,5.215657,7.000000,0.331152,0.000000,0.000000,1
374186,6.000000,2.000000,0.0,82.000000,33.251588,0.393469,1.000000,0.748412,1
281953,0.000000,2.000000,0.0,2.000000,0.000000,0.590000,1.000000,0.000000,0
416215,2.617745,8.000000,0.0,6.382255,16.382255,0.641128,0.000000,0.000000,1
421566,8.054894,2.109787,0.0,0.000000,12.945106,0.937923,0.054894,0.000000,1

# Add Indicator Variables

## national_inv

Reults from our EDA indicated that inventory levels impact backorder and those items with <b/>low national inventory levels were more likely to backorder.</b> 

Therefore, here we create and indicator variable <b/>'inv_below_median'</b> to indicate whether national inventory is below the median national_inv value

In [12]:
#get median and mean values
print(data['national_inv'].median(), data['national_inv'].mean())

8.0 53.61294240447639

In [21]:
#add indicator variable
data['national_inv_low'] = (data['national_inv'] < data['national_inv'].median()).astype(int)

In [11]:
data.head()

,national_inv,lead_time,in_transit_qty,forecast_3_month,sales_3_month,perf_6_month_avg,deck_risk_Yes,neg_inv_balance,went_on_backorder_Yes,inv_below_median
0,13.0,12.0,0.0,0.0,0.0,0.48,1.0,0.0,0,0
1,3.0,8.0,0.0,5.0,9.0,0.73,0.0,0.0,0,1
2,9.0,9.0,4.0,0.0,0.0,0.85,0.0,0.0,0,0
3,213.0,9.0,16.0,0.0,114.0,0.91,0.0,0.0,0,0
4,274.0,8.0,0.0,0.0,44.0,0.95,0.0,0.0,0,0

## lead_time

EDA findings indicated items with low lead times are more likely to bakorder.

We'll add an indicator variable <b/>lead_time_below_Median</b>

In [13]:
#get median and mean values
print(data['lead_time'].median(), data['lead_time'].mean())

8.0 6.83510169271079

In [16]:
#add indicator variable
data['lead_time_low'] = (data['lead_time'] < data['lead_time'].median()).astype(int)

print(data.shape)

(452670, 12)

## in_transit_qty

EDA findings indicated low quanties in transit backorder most

we'll add an indicator varibale <b/>'transit_qty_low'</b>

In [24]:
#get median and mean values
print(data['in_transit_qty'].median(), data['in_transit_qty'].mean())

0.0 1.751648236736145

In [25]:
#get features stats
data['in_transit_qty'].describe()

count    452670.000000
mean          1.751648
std           4.600637
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          16.000000
Name: in_transit_qty, dtype: float64

In [26]:
data['in_transit_qty'].value_counts()

0.000000     369169
16.000000     35348
1.000000       7480
2.000000       4370
3.000000       3372
              ...
0.155669          1
0.354374          1
15.857305         1
5.918737          1
0.996992          1
Name: in_transit_qty, Length: 14477, dtype: int64

In [27]:
#add indicator variable
data['in_transit_low'] = (data['in_transit_qty'] < data['in_transit_qty'].mean()).astype(int)

print(data.shape)

(452670, 12)

In [28]:
data.head()

,national_inv,lead_time,in_transit_qty,forecast_3_month,sales_3_month,perf_6_month_avg,deck_risk_Yes,neg_inv_balance,went_on_backorder_Yes,lead_time_low,national_inv_low,in_transit_low
0,13.0,12.0,0.0,0.0,0.0,0.48,1.0,0.0,0,0,0,1
1,3.0,8.0,0.0,5.0,9.0,0.73,0.0,0.0,0,0,1,1
2,9.0,9.0,4.0,0.0,0.0,0.85,0.0,0.0,0,0,0,0
3,213.0,9.0,16.0,0.0,114.0,0.91,0.0,0.0,0,0,0,0
4,274.0,8.0,0.0,0.0,44.0,0.95,0.0,0.0,0,0,0,1

## forecast_3_month

Our EDA indicated that high 3 months forecasts backordered most.

We'll create an indicator variable <b/>'high_forecast'</b>

In [30]:
#get median and mean values
print(data['forecast_3_month'].median(), data['forecast_3_month'].mean())

0.0 16.71280947073988

In [36]:
#add indicator variable
data['high_forecast'] = (data['forecast_3_month'] > data['forecast_3_month'].mean()).astype(int)

print(data.shape)

(452670, 13)

In [37]:
data.head()

,national_inv,lead_time,in_transit_qty,forecast_3_month,sales_3_month,perf_6_month_avg,deck_risk_Yes,neg_inv_balance,went_on_backorder_Yes,lead_time_low,national_inv_low,in_transit_low,high_forecast
0,13.0,12.0,0.0,0.0,0.0,0.48,1.0,0.0,0,0,0,1,0
1,3.0,8.0,0.0,5.0,9.0,0.73,0.0,0.0,0,0,1,1,0
2,9.0,9.0,4.0,0.0,0.0,0.85,0.0,0.0,0,0,0,0,0
3,213.0,9.0,16.0,0.0,114.0,0.91,0.0,0.0,0,0,0,0,0
4,274.0,8.0,0.0,0.0,44.0,0.95,0.0,0.0,0,0,0,1,0

## perf_6_month_avg

Our EDA results indicated 6 month average supplier performer impacted backorder.

We'll add an indicator variable <b/>'low_performance'.</b>

In [38]:
#get median and mean values
print(data['perf_6_month_avg'].median(), data['perf_6_month_avg'].mean())

0.84 0.762177245679694

We know that perf_6_month is a score ranging from 0 to 99.

Since we do not expect extraordinary large numbers on this feature, using a median should be appropriate

Let's check descriptive stats of the perf_6_month_avg as a sanity check.

In [39]:
data['perf_6_month_avg'].describe()

count    452670.000000
mean          0.762177
std           0.241833
min           0.000000
25%           0.680000
50%           0.840000
75%           0.950000
max           0.990000
Name: perf_6_month_avg, dtype: float64

In [44]:
#add indicator variable
data['low_performance'] = (data['perf_6_month_avg'] < data['perf_6_month_avg'].mean()).astype(int)

print(data.shape)

(452670, 14)

In [45]:
data.head()

,national_inv,lead_time,in_transit_qty,forecast_3_month,sales_3_month,perf_6_month_avg,deck_risk_Yes,neg_inv_balance,went_on_backorder_Yes,lead_time_low,national_inv_low,in_transit_low,high_forecast,low_performance
0,13.0,12.0,0.0,0.0,0.0,0.48,1.0,0.0,0,0,0,1,0,1
1,3.0,8.0,0.0,5.0,9.0,0.73,0.0,0.0,0,0,1,1,0,1
2,9.0,9.0,4.0,0.0,0.0,0.85,0.0,0.0,0,0,0,0,0,0
3,213.0,9.0,16.0,0.0,114.0,0.91,0.0,0.0,0,0,0,0,0,0
4,274.0,8.0,0.0,0.0,44.0,0.95,0.0,0.0,0,0,0,1,0,0

# Save ABT

In [46]:
#move target column to last
helpers.move_to_last(data, 13, 'went_on_backorder_Yes')

In [48]:
#sanity check
data.sample(10)

,national_inv,lead_time,in_transit_qty,forecast_3_month,sales_3_month,perf_6_month_avg,deck_risk_Yes,neg_inv_balance,lead_time_low,national_inv_low,in_transit_low,high_forecast,low_performance,went_on_backorder_Yes
262399,25.0,8.0,0.000000,0.000000,2.000000,0.000000,0.0,0.0,0,0,1,0,1,0
425602,1.0,9.0,0.000000,9.855253,11.144747,0.681447,0.0,0.0,0,1,1,0,1,1
33589,6.0,12.0,0.000000,0.000000,4.000000,0.960000,1.0,0.0,0,1,1,0,0,0
109632,27.0,8.0,1.000000,0.000000,14.000000,0.820000,0.0,0.0,0,0,1,0,0,0
397689,2.0,8.0,3.152062,16.788015,22.788015,0.731798,0.0,0.0,0,1,0,1,1,1
291497,1.0,12.0,0.000000,4.000000,1.000000,0.730000,0.0,0.0,0,1,1,0,1,0
269739,29.0,8.0,0.000000,0.000000,4.000000,0.880000,0.0,0.0,0,0,1,0,0,0
60155,26.0,8.0,0.000000,60.000000,44.000000,0.990000,0.0,0.0,0,0,1,1,0,0
31558,15.0,8.0,0.000000,0.000000,2.000000,0.170000,0.0,0.0,0,0,1,0,1,0
76425,360.0,2.0,0.000000,0.000000,21.000000,0.930000,0.0,0.0,1,0,1,0,0,0

In [49]:
#write to csv
data.to_csv('derived_data/engineered.csv', index=False)